<template>
<!--  <click-lottie-animation-->
<!--      :animation="animation"-->
<!--      @action="action"-->
<!--    />-->
  <div @click="internalAction" >
    <nuxt-img src="/cup_free.svg"  :class="{zoom: isAnimating, image: true}"/>
  </div>
</template>

<script>
// import * as animation from 'static/animations/free_cup_zoom.json';
// import ClickLottieAnimation from "./ClickLottieAnimation";

export default {
  name: "AnimatedButton",
  props: ["action"],
  data() {
    return {
      isAnimating: false
    }
  },
  methods: {
    internalAction() {
      if (!this.isAnimating) {
        this.isAnimating = true
        this.action()
        setTimeout(() => {
          this.isAnimating = false
        }, 700)
      }


    }
  }
}
</script>

<style scoped>
.image {
 width: 120px;
}
.zoom {
  animation: zoom 0.5s ease-in-out both;
  transform: translate3d(0, 0, 0);
}
@keyframes zoom {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
</style>
