<template>
  <NuxtLink v-bind:to="href" class="item">
      <nuxt-img fit="cover" alt="1" :src='image' class="image" />
      <div class="text-container">
        <div class="title">
          {{ title }}
        </div>
        <div class="type">
          кофейня
        </div>
      </div>
      <div class="visited-distance-container">
        <div>
          Вы не были в этом месте
        </div>
        <div>
          100м
        </div>
      </div>
  </NuxtLink>
</template>

<script>
export default {
  name: "CafeItem",
  props: ['href', "title", "image", "description"]

}
</script>

<style scoped>


.image {
  border-radius: 16px 16px 0 0;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  border-radius: 20px;
  background: #BB9C83;
  color: black;
  text-decoration: none;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-container {
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
}

.title {
  font-weight: 600;
  font-size: 22px;
}

.type {
  font-weight: 400;
  font-size: 18px;
}

.visited-distance-container {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  justify-content: space-between;
  font-size: 16px;
  padding: 15px 20px;
}



</style>
