<template>
  <div class="grid">
    <div v-for="(item) in range" :key="item">
      <div v-if="item !== count">
        <!-- Static Image -->
        <nuxt-img v-if="item < count" src="/cup_full.svg" />
        <nuxt-img v-else src="/cup_empty.svg" />
      </div>
      <div v-else>
        <nuxt-img :class="{shake: isAnimating}" src="/cup_empty.svg" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CupsGrid",
  props: {
    count: Number,
    totalCount: Number
  },
  data() {
    return {
      range: [...Array(this.totalCount).keys()],
      isAnimating: false,
    }
  },
  methods: {
    shake() {
      this.isAnimating = true
      setTimeout(() => {
        this.isAnimating = false
      }, 700)
    }
  },
}
</script>

<style scoped>

.grid {
  width: 100%;
  display: grid;
  padding: 0px 10px;

  --grid-gap: 10px;
  --column-count: 5;
  --column: calc((100% - ((var(--grid-gap)) * var(--column-count))) / var(--column-count));

  grid-template-columns: repeat(var(--column-count), var(--column));
  grid-auto-rows: minmax(min-content, max-content);
  grid-gap: var(--grid-gap);
  justify-content: center;
}
.shake {
  animation: shake 0.7s ease-in-out both;
  transform: translate3d(0, 0, 0);
}
@keyframes shake {
 25% {
  transform: rotate(20deg);
 }
  75% {
  transform: rotate(-20deg);
  }
}
</style>
