<template>
  <div v-if="isLoggedIn" class="bottom-container">
    <client-only>
      <cups-grid ref="grid" :total-count="totalCount" :count="count" />
    </client-only>
    <div class="brace" >
      <nuxt-img src="/brace.svg" />
    </div>
    <animated-button
        :action="internalAction"
    />
  </div>
  <div v-else>
    <div class="bottom-container">
      Пожалуйста, авторизуйтесь!
    </div>
  </div>
</template>

<script>
import AnimatedButton from "./AnimatedButton";
import CupsGrid from "./CupsGrid";
export default {
  name: "cups-block",
  components: {CupsGrid, AnimatedButton},
  props: {
    action: Function,
    totalCount: Number,
    count: Number,
    isLoggedIn: Boolean
  },
  methods: {
    internalAction() {
      this.$refs.grid.shake()
      if (this.action) {
        this.action();
      }
    }
  }
}
</script>

<style scoped>
.brace {
  width: calc(100% - 40px);
}
.bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.auth {

}
</style>
