<template>
<div class="animationContainer">
  <div class="animation" >
    <lottie-animation :animation="animation" @animControl="animControl" />
  </div>
</div>
</template>

<script>
import * as animation from 'static/animations/animationRotate.json';
import LottieAnimation from "./LottieAnimation";

export default {
  name: "EmptyCupAnimation",
  components: {LottieAnimation},
  data() {
    return {
      animation,
      lottie: null
    }
  },
  methods: {
    shake() {
      const duration = this.lottie.getDuration(true)
      this.lottie.playSegments([0, duration], true)
    },
    animControl(lottie) {
      // Init lottie
      this.lottie = lottie
    }
  }
}
</script>

<style scoped>

.animationContainer {
  position: relative;
  width: 100%;
  height: 100%;
}

.animation {
  position: absolute;

  /* PLEASE DO NOT CHANGE ! */
  width: 132%;
  top: -4%;
  left: -15.5%;
}


</style>
