<template>
  <header class="header">
    <div>{{ title }}</div>
  </header>
</template>

<script>
export default {
  name: "Header",
  props: {
    title: String
  }
}
</script>

<style scoped>
.header {
  display: flex;
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  color: black;
  font-weight: 600;
  background: #BB9C83;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
</style>
