<template>
<div class="text-block">
  <slot></slot>
</div>
</template>

<script>
export default {
  name: "TextBlock",
}
</script>

<style scoped>
.text-block  {
  padding: 20px;
  margin:  90px 20px 20px;
  border-radius: 10px;
  background: #BB9C83;
  font-size: 18px;
  flex: 1;
}
</style>
