<template>
  <v-app dark>
    <main>
      <h1>
        Ошибка!
      </h1>
      <h3 v-if="error.statusCode === 404">
        {{ error.message || pageNotFound }}
      </h3>
      <h3 v-else>
        {{ error.message || otherError }}
      </h3>

      <NuxtLink to="/">
        <a>
          Вернуться на домашнюю страницу
        </a>
      </NuxtLink>
    </main>

  </v-app>
</template>

<script>
// TODO: Добавить что-то, если текущая страница и есть домашняя
export default {
  layout: 'empty',
  props: {
    error: {
      type: Object,
      default: null
    }
  },
  data () {
    return {
      pageNotFound: 'Страница не найдена',
      otherError: ''
    }
  },
  mounted() {
    if (this.error != null) {
      // logError(this.errorMessage)
    }
  },
  head () {
    const title =
      this.error.statusCode === 404 ? this.pageNotFound : this.otherError
    return {
      title
    }
  }
}
</script>

<style scoped>

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 50px 10px
}

a {
  color: white;
  padding: 60px 0;
  font-size: 18px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}

</style>
