<template>
  <main class="root">
    <pkg-header title="Бонус"  />
    <pkg-text-block>
      {{ aboutBonus }}
    </pkg-text-block>
    <pkg-cups-block
      :total-count=5
      :count=3
      :isLoggedIn="isLoggedIn"
    />
  </main>
</template>

<script>

// TODO: LOGIN
// TODO: DONE
export default {
  data() {
    return {
      aboutBonus: "Кофейня 'Рога и копыта' предоставляет 50% скидку постоянным покупателям"
    }
  },
  computed: {
    isLoggedIn() {
      const isLoggedIn = this.$store.getters.isLoggedIn
      return isLoggedIn
    },
  }
}
</script>

<style scoped>
.root {
  width: 100%;
  height: 100%;
  background: #8C7A6A;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: black;
}

</style>
