<template>
  <click-lottie-animation
      :animation="animation"
      @action="action"
    />
</template>

<script>
import * as animation from 'static/animations/free_cup_zoom.json';
import ClickLottieAnimation from "./ClickLottieAnimation";

export default {
  name: "LottieButton",
  components: {ClickLottieAnimation},
  props: ["action"],
  data() {
    return {
      animation,
    }
  },
}
</script>
