<template>
  <NuxtLink v-bind:to="href" class="item">
    <div class="leftContainer">
      <div class="text title">{{title}}</div>
      <div class="text description">{{description}}</div>
    </div>
  </NuxtLink>
</template>

<script>
export default {
  name: "CafeItem",
  props: ['href', "title", "description"]

}
</script>

<style scoped>

.item {
  display: flex;
  flex-direction: row;
  height: 200px;
  margin: 10px 20px;
  border-radius: 20px;
  background: rgba(255,255,255,0.24);
  color: white;
  text-decoration: none;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: inherit;
  margin: 15px 25px;
}
.rightContainer {
  color: inherit;
  margin: 15px 25px;
}
.text {
  display: flex;
  align-content: center;
  line-height: 25px;
  flex: 1;  font-family: "Open Sans", sans-serif;

}
.title {
  font-size: 18px;
}
.description {
  font-size: 16px;
}
</style>
