<template>
  <div v-on:click="onClick">
    <lottie-animation
      :animation="animation"
      :loop="false"
      @animControl="animControl"

    />
  </div>
</template>

<script>
import LottieAnimation from "./LottieAnimation";
export default {
  name: "ClickLottieAnimation",
  components: {LottieAnimation},
  props: ["animation"],
  data() {
    return {
      isAnimationEnded: true,
      lottie: null,
    }
  },
  methods: {
    onClick() {
      // Run animation
      if (this.isAnimationEnded) {
        this.$emit("action")
        this.isAnimationEnded = false
        const duration = this.lottie.getDuration(true)
        this.lottie.playSegments([0, duration], true)
      }
    },
    animControl(lottie) {
      // Init lottie
      this.lottie = lottie
      const duration = lottie.getDuration(true)
      // Stop animation
      lottie.addEventListener('enterFrame', () => {
        if (Number(lottie.currentFrame) === (duration - 1)) {
          this.isAnimationEnded = true
        }
      });
    }
  }
}
</script>
