<template>
  <div>
    <lottie-player
      name="logoAnimation"
      :animation-data='animationData'
      :loop="loop"
      width='100%'
      height='100%'
      @animControl='handleAnim'
    />
  </div>
</template>

<script>
import VueLottiePlayer from 'vue-lottie-player/src/vue-lottie-player.vue';

export default {
  name: 'LottieAnimation',
  components: {
    lottiePlayer: VueLottiePlayer
  },
  props: ["animation", "loop"],
  computed: {
      animationData() {
        return this.animation.default
      }
  },
  data() {
    return {
      autoplay: false
    }
  },
  methods: {
    handleAnim(lottie) {
      lottie.stop()
      this.$emit('animControl', lottie)
    }
  },
}
</script>
