<template>
  <main class="root">
    <pkg-header :title="title" />
<!--      <nuxt-img :src="imgUrl" alt="123" fit="cover" class="mainImage"/>-->
    <pkg-text-block>{{ description }}</pkg-text-block>
    <NuxtLink :to="`/ticket/${$route.params.place}`" class="continue-button">
      <div>
        Продолжить
      </div>
    </NuxtLink>
  </main>
</template>

<script>

// TODO: LOGIN
// TODO: DONE
export default {
  data() {
    return {
      place: {
        title: "",
        description: "",
        count: 0,
        free_count: 3

      },
    }
  },
  async asyncData({ params, store, error }) {
    const id = params.place
    const { uid } = store.getters.getUser

    const place = await store.dispatch("getPlaceWithUID", { id, uid })
      .then((result)=>{
        if (!result.error) return result
        else {
          error({statusCode: 500, message: "Что-то пошло не так, но мы скоро с этим разберемся!"})
        }
      })
      .catch((e) => {
        error({statusCode: 500, message: "Что-то пошло не так, но мы скоро с этим разберемся!"})
      })
    return { place }
  },
  computed: {
    totalCount() {
      return this.place.free_count || 0;
    },
    count() {
      return this.place.count || 0;
    },
    title() {
      return this.place.title || ""
    },
    description() {
      return this.place.description || ""
    },
    imgUrl() {
      return this.place.logo_url || ""
    },
    isLoggedIn() {
      const isLoggedIn = this.$store.getters.isLoggedIn
      return isLoggedIn
    },
  },

}
</script>

<style scoped>
.root {
  width: 100%;
  height: 100%;
  background: #8C7A6A;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: black;
}

.description {
  padding: 20px;
  margin:  90px 20px 20px;
  border-radius: 10px;
  background: #BB9C83;
  font-size: 18px;
  flex: 1;
}
.continue-button {
  display: flex;
  align-content: center;
  justify-content: center;
  background: #D8C6B8;
  margin: 0 20px 20px;
  padding: 20px;
  border-radius: 10px;
  font-weight: 600;
  text-decoration: none;
  color: black;
}

</style>
