
<template>
  <div class="page">
    <pkg-header title="Места" />
    <div class="list">
      <pkg-CafeItem
        v-for="({title, description, place_id, logo_url}, index) in places"
        :key="index"
        :title="title"
        :description="description"
        :image="logo_url"
        :href="'/place/' + place_id"
      />
    </div>
  </div>
</template>

<script>
// TODO: На больших дисплеях изменить дизайн CafeItem - с фоточками и рок-н-роллом
// DONE: Data Fetching

export default {
  async asyncData({ store, error }) {
      const places = await store.dispatch("getPlaces")
        .catch((e)=>{
          error({ statusCode: 500, message: "Что-то пошло не так, но мы скоро с этим разберемся!"})
        });
      return { places }
  },
  data() {
    return {
      places: []
    }
  },
  mounted() {
    console.log("Page loaded!")
  },

}
</script>

<style scoped>

.page {
  height: 100vh;
  background: #8C7A6A;
}
.list {
  margin-top: 90px;
}
</style>
