<template>
    <v-app>
      <v-navigation-drawer
        v-model="drawer"
        :mini-variant="miniVariant"
        :clipped="clipped"
        fixed
        app
      >
        <v-list>
            <v-list-item
            to="/admin/profile">
              Ваш профиль
            </v-list-item>
            <v-divider />
            <v-list-item
              v-for="(item, i) in leftButtons"
              :key="i"
              :to="item.to"
              exact
            >
                {{ item.title }}
            </v-list-item>
        </v-list>
      </v-navigation-drawer>
      <v-main>
        <Nuxt />
      </v-main>
    </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: false,
      rightDrawer: false,
      title: 'Vuetify.js',
      leftButtons: [
        {
          title: "Сводка",
          to: "/admin"
        },
        {
          title: "Ваши места",
          to: "/admin/places"
        }
      ]
    }
  }
}
</script>
