<template>
  <div class="root">
  	<h2>Dashboard</h2>
  </div>
</template>
<script>
  export default {
    layout: "admin"
  }
</script>s
<style>
  .root {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h2 {
    text-align: center;
  }
</style>
