<template>
<main class="main">
  <div class="auth-text">Авторизация</div>
  <div class="container">
    <div v-if="!isLoggedIn">
      <button @click="signInWithGoogle">Вход через Google</button>
    </div>
    <div v-else>
      <button @click="logout">Выход</button>
    </div>
  </div>


</main>
</template>

<script>
import {getAuth, GoogleAuthProvider  } from 'firebase/auth'

export default {
  name: "login.vue",
  methods: {
    async signInWithGoogle() {
      const auth = getAuth();
      const provider = new GoogleAuthProvider();

      await this.$store.dispatch("signIn", { auth, provider })

    },
    async logout() {
      const auth = getAuth()
      await this.$store.dispatch("signOut", auth)
      console.log("Logged out!")
      console.log(this.isLoggedIn)
    },
  },
  computed: {
    isLoggedIn() {
      return Boolean(this.$store.getters.isLoggedIn)
    },
  }
}
</script>
<style scoped>
.auth-text {
  text-align: center;
  font-size: 22px;
  padding: 30px;
}
.main {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
</style>
