<template>
  <div class="root">
    <div class="login-container">
      <div class="Auth">
        Авторизация
      </div>
      <input type="email" v-model="email" :class="{'input-form': true, 'red-input-form': !isEmailValid && !checkEmailValid }" placeholder="e-mail"  />
      <input type="password" v-model="password" :class="{'input-form': true, 'red-input-form': !isPasswordValid && !checkPasswordValid }" placeholder="пароль"  />
      <button @click="auth" class="input-button">
        Войти
      </button>
    </div>

  </div>
</template>

<script>

export default {
  data() {
    return {
      email: "",
      password: "",
      isEmailValid: true,
      isPasswordValid: true,
    }
  },
  computed: {
    checkEmailValid() {
      const re = /^(([^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*)|(".+"))@(([^<>()[\].,;:\s@"]+\.)+[^<>()[\].,;:\s@"]{2,})$/;
      const result = Boolean(this.email.match(re))
      return result
    },
    checkPasswordValid() {
      const result = Boolean(this.password)
      return result
    }
  },
  methods: {
    auth() {
      const emailValidation = this.checkEmailValid
      if (!emailValidation) this.isEmailValid = false
      const passwordValidation = this.checkPasswordValid
      if (!passwordValidation) this.isPasswordValid = false


      if (emailValidation && passwordValidation) {
        console.log("OK")
      }

    },
  }
}

</script>

<style>
.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container {
  background: #505050;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 30px;
  border-radius: 15px;
}

.input-form {
  padding: 10px;
  width: 300px;
  border: 2px solid #AAA;
  outline: none;
  border-radius: 5px;
  color: white;
}
.input-form::placeholder {
  color: white;
}

.input-button {
  padding: 15px 50px;
  border-radius: 5px;
  background: #55A;
}


.red-input-form {
  border: 2px solid red !important;
}


</style>
